<div class="welcome-container">
    <mat-card class="welcome-card">
        <mat-card-title>
            <h1>
                Welcome to <span>myFlix</span>
            </h1>
        </mat-card-title>
        <div class="buttons-container">
            <button mat-raised-button (click)="openUserLoginDialog()" color="accent">
                <mat-icon class="btn-icon">login</mat-icon>
                Login
            </button>
            <button mat-raised-button (click)="openUserRegistrationDialog()" color="accent">
                <mat-icon class="btn-icon">how_to_reg</mat-icon>
                Sign Up
            </button>
        </div>
    </mat-card>
</div>